/* 
* Supports contrôlés :
*
* - Galaxy Note II
* - Galaxy S3 
* - Galaxy S5
* - Nexus 5/7
* - iPhone 4
* - iPhone 5/SE
* - iPhone 6/7/8/Plus
* - iPhone X
* - Pixel 2/XL
*
*/

/* iPhone 5 */
@media (max-width: 320px) { 
    .header .logo img {
        padding-top: 10px;
        max-width: 100px;
    }

    .time p {
        font-size: 12px;
    }

    .prgm-nav li a {
        padding-right: 35.6px;
        padding-left: 35.6px;
    }

    input.form-control {
        padding: 0;
    }
}