body {
    font-family: Arial;
    font-size: 12px;
}

.header {
    background: #BF073E;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 28px;
    padding: 0;
    margin: 0;
}

/* GRID */
.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

/* BUTTON */
.btn {
    width: 100%;
    text-transform: uppercase;
    border-radius: 0;
    border-width: 2px;
}

.btn-primary {
    background-color: #BF073E;
    color: #ffffff !important;
    border-color: #333;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
    background-color: #a80a36;
    color: #ffffff;
    border-color: #333;
}

.btn-secondary {
    background-color: #a80a36;
    color: #ffffff !important;
    border-color: #333;
}

/* TIME */
.time {
    background: #333;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.time p {
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.time a {
    width: auto;
    font-size: 11px;
}

/* NAV */
.miro-nav {
    padding: 0;
    margin: 0;
    width: 100%;
}

.miro-nav li {
    display: block;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 3px solid #BF073E;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

footer a {
    color: #BF073E;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #ffffff;
}