html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial;
    font-size: 12px;
}

/* HEADER */
.header {
    background: #fff;
}

.header h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 28px;
    padding: 7px 0;
    margin: 0;
}

.header .container {
    padding-left: 0;
    padding-right: 0;
}

.header .logo img {
    padding-top: 7px;
    padding-left: 5px;
    padding-bottom: 5px;
    max-width: 135px;
}

.header .title {
    background: #BF073E;
    padding-right: 0;
    padding-left: 0;
}

.header .title:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 47px 47px;
    border-color: transparent transparent #BF073E transparent;
    position: absolute;
    top: 0;
    left: -47px;
    bottom: 0;
}

/* BUTTON */
.btn {
    width: 100%;
    text-transform: uppercase;
    border-radius: 0;
    border-width: 2px;
}

.btn-primary {
    background-color: #BF073E;
    color: #ffffff !important;
    border-color: #333;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #BF073E !important;
    box-shadow: none;
    border-color: #333;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
    border-color: #333;
    box-shadow: none;
}

.btn-secondary {
    background-color: #0062cc;
    color: #ffffff !important;
    border-color: #333;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #BF073E;
    color: #ffffff !important;
    border-color: #333;
}

/* TIME */
.time {
    background: #333;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.time p {
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.time #clock {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.time button {
    width: auto;
    font-size: 11px;
}

/* NAV */
.miro-nav {
    padding: 0;
    margin: 0;
    width: 100%;
}

.miro-nav li {
    display: block;
    margin-bottom: 10px;
}

/* PRGM NAV */
.prgm-nav {
    padding: 0;
    margin: 0;
    width: 100%
}

.prgm-nav li {
    display: inline-block;
}

.prgm-nav li a {
    padding-right: 44.5px;
    padding-left: 44.5px;
    font-size: 34px;
}

/* MAIN */
main#main {
    margin-bottom: 5rem;
}

/* TABLE */
.table tr td:first-child {
    text-transform: uppercase;
}

.table tr td:last-child {
    font-weight: 700;
}

.table tr.table-danger td {
    color: #dc3545;
    font-weight: 700;
    vertical-align: middle;
}

.table tr td span.badge {
    font-size: 12px;
    text-transform: uppercase;
}

.table tr.table-danger td span.badge {
    font-size: 22px;
    text-transform: uppercase;
}

/* FORM */
form .form-row {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

form .form-control,
form .custom-select {
    border-radius: 0;
    font-size: 0.7rem;
}

form .form-control:focus,
form .custom-select:focus {
    border-color: #BF073E;
    box-shadow: none;
}

.custom-select {
    padding: .375rem .4rem .375rem .5rem;
}

.custom-select option {
    background-color: #BF073E;
    color: #fff;
}

.custom-select option:hover,
.custom-select option:focus,
.custom-select option:active,
.custom-select option[selected] {
    background-color: #333;
    color: #fff;
}

/* FOOTER */
footer {
    background: #333;
    color: #fff;
    /*position: fixed;*/
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 3px solid #BF073E;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

footer p:last-child {
    font-size: 10px;
}

footer a {
    color: #BF073E;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #ffffff;
}
